<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex00: Markdown Cheatsheet</title>
    <style>
        h1{
            font-size: x-large;
            text-align: center;
        }

        .container{
            width: 90vw;
            height: 90vh;
            padding: 0 5vw;
            margin: 0 auto;
        }
        td{
            padding: 10px;
            border: 1px solid #000;
            text-align: center;
        }
        table{
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Ex00: Markdown Cheatsheet</h1>
    <section class="container">
        <p>Markdown is an easy-to-use markup language that is used with plain text to add formatting elements (headings, bulleted lists, URLs) to plain text without the use of a formal text editor or the use of HTML tags. Markdown is device agnostic and displays the writing format consistently across device types.        </p>

        <table>
            <caption>Syntax</caption>
            <thead>
                <tr>
                  <th>Info</th>
                  <th>Markdown</th>
                </tr>
            </thead>

            <tr>
              <td>Markdown Headers</td>
              <td>#</td>
            </tr>
            <tr>
              <td>Emphasis</td>
              <td>*Italic* **Bold**</td>
            </tr>
            <tr>
              <td>Strikethrough</td>
              <td>~~ Strikethrough ~~</td>
            </tr>
            <tr>
              <td>Markdown Link</td>
              <td>[Link text](http://google.com)</td>
            </tr>
            <tr>
              <td>Markdown image</td>
              <td>![Alt text](/path/to/image.jpg "title")</td>
            </tr>
            <tr>
              <td>Blockquotes</td>
              <td>> Blockquotes  or >> Blockquotes</td>
            </tr>
            <tr>
              <td>Horizontal Rule</td>
              <td>*** or --- or ___</td>
            </tr>
            <tr>
              <td>Bulleted list</td>
              <td>
                <div>
                    <p>1. Number</p>
                    <p>2. number</p>
                    <p>3. number</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>Nested List</td>
              <td>
                <div>
                    <p>1. item</p>
                    <p>..* item</p>
                    <p>..* item</p>
                    <p>2. item</p>
                </div>
            </td>
            </tr>
            <tr>
              <td>Code Blocks</td>
              <td>``` this is an example ```</td>
            </tr>
            <tr>
              <td>Markdown Table</td>
              <td><div>
                <p>| Tables | are | cool|</p>
                <p>|--------|:---:|----:|</p>
                <p>|cool 1 is|left-aligned|100|</p>
              </div></td>
            </tr>
            <tr>
              <td>Markdown footnotes</td>
              <td>Sentence with a footnote label [^1]. [^1]: footnote content</td>
            </tr>
            <tr>
              <td>Escaping characters</td>
              <td>\*don't itialicize this\*</td>
            </tr>
            <tr>
              <td>Superscript and Subscript</td>
              <td>
                <div>
                    <p>32^nd^</p>
                    <p>h~2~0</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>Text Highlighting</td>
              <td>== Text to be Highlighting ==</td>
            </tr>
            <tr>
              <td>Checklists</td>
              <td>
                <div>
                    <p>- [x] item</p>
                    <p>- [ ] item</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>Emojis and Emoticons</td>
              <td>
                <div>
                    <p>:smile:</p>
                    <p>:heart:</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>Typographic Replacements</td>
              <td>
                <div>
                    <p>--</p>
                    <p>---</p>
                    <p>(C)</p>
                    <p>(R)</p>
                    <p>(TM)</p>
                    <p>(P)</p>
                    <p>+-</p>
                    <p>' '</p>
                    <p>'' ''</p>
                </div>
              </td>
            </tr>
          </table>
    </section>
</body>
</html>