{% extends 'base.html' %}

{% block title %}Ex01: Django, framework web{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'ex01/style1.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h1>What is Django?</h1>
        <p>Django is a Python framework that makes it easier to create web sites using Python.
            Django takes care of the difficult stuff so that you can concentrate on building your web applications.
            Django emphasizes reusability of components, also referred to as DRY (Don't Repeat Yourself), and comes with ready-to-use features like login system, database connection and CRUD operations (Create Read Update Delete).
        </p>

        <h2>How does Django Work?</h2>
        <p>
            Django follows the MVT design pattern (Model View Template).

            Model - The data you want to present, usually data from a database.
            View - A request handler that returns the relevant template and content - based on the request from the user.
            Template - A text file (like an HTML file) containing the layout of the web page, with logic on how to display the data.
        </p>

        <h2>Django History</h2>
        <p>Django was invented by Lawrence Journal-World in 2003, to meet the short deadlines in the newspaper and at the same time meeting the demands of experienced web developers.
            
            Initial release to the public was in July 2005.
            
            Latest version of Django is 4.0.3 (March 2022).</p>
    </div>
{% endblock %}